<div class="carusel-container">
    <table>
        <tr *ngFor="let row of products">
            <td *ngFor="let item of row">
                <div class="box" [ngStyle]="{'background-image' : 'url('+ item.content.get('image')._url +')'}">
                    <span class="numIndex">{{item.index}}</span>

                    <div class="present-menu-detail">
                        <h3>{{item.content.get('productname')}}</h3>
                        <h4>{{item.content.get('englishname')}}</h4>
                        <span class="cost">{{item.content.get('price') | currency:'VND':true:'1.2-2'}}</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>