@import "../../sass/mixins";

$numIndexSize: 50px;

.carusel-container{
  td{
    position: relative;
    height: calc(50vh);
    padding: 10px;

    .box{
      position: relative;
      display: block;
      width: calc((100vw / 3) - 20px);
      height: 100%;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .numIndex{
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: white;
      border-radius: 50%;
      font-size: 30px;
      width: $numIndexSize;
      height: $numIndexSize;
      line-height: $numIndexSize;
      text-align: center;
      display: block;
    }
    
    .present-menu-detail{
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(105, 105, 105, 0.65);
      padding: 7px;

      h3, h4{
        color: white;
      }

      .cost{
        color: #ff0;
      }
    }
  }
}